

/* <style type="text/css"> */
/* /\* h1 { *\/ */
/* /\* 	color: DeepSkyBlue; *\/ */
/* /\* } *\/ */
/* </style> */

/* <h1>Hello, world!</h1> */
.orange  {
    color: orange;
}
body {
     background: black;
}

h3{
    color: palegreen;
}
